PassengerEnabled off

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sibanye/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/sibanye/api/
  RewriteRule . /sibanye/index.html [L]
</IfModule>
